<form action="" class="form-group">
    <div class="form-group">
        <label for="">Product id</label>
    </div>
    <div>
        <input type="text" class="form-control" [(ngModel)]="model.id">
    </div>
    <div class="form-group">
        <label for="">Name</label>
    </div>
    <div>
        <input type="text" class="form-control"[(ngModel)]="model.name">
    </div>
    <div class="form-group">
        <label for="">Price</label>
    </div>
    <div>
        <input type="text" class="form-control"[(ngModel)]="model.price">
    </div>
    <div class="form-group">
        <label for="">Description</label>
    </div>
    <div>
        <input type="text" class="form-control"[(ngModel)]="model.description">
    </div>
    <button class="btn btn-primary">SAVE</button>
</form>